<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toronto Blog</title>
  <link rel="stylesheet" href="/public/index.css">
</head>

<body>
  <div class="superinfo-bg">
    <div class="superinfo">
      <p>Monday to Friday | 9am to 10pm</p>
      <a href="tel:+1 647 612-4037">+1 647 612-4037</a>
      <p>Bay at Bloor St, Toronto, ON</p>
    </div>
  </div>

  <header class="menu-bg">
    <div class="menu">
      <div class="menu-logo">
        <a href="#">Toronto Blog</a>
      </div>
      <nav class="menu-nav">
        <ul>
          <li><a href="#sobre">About</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">Pricing</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <h1 class="intro">Visit Toronto</h1>

<section id="sobre" class="sobre">
<div class="sobre-info">
  <h1>About the city</h1>
  <p>Lorem Ipsum Adamat</p>
</div>
<div class="sobre-img">
  <img src="/public/img/sobre1.png" alt="About">
</div>
<div class="sobre-img">
  <img src="/public/img/sobre2.png" alt="About two">
</div>
</section>

<section class="produtos" id="produtos">
  <h1>Where to go</h1>
  <div class="produtos-container">
    <div class="produtos-item purple">
      <h2>Downtown Toronto</h2>
      <img src="/public/img/produtos1.png" alt="Product One">
    </div>
    <div class="produtos-item pink">
      <h2>High Park</h2>
      <img src="/public/img/produtos2.png" alt="Product Two">
    </div>
    <div class="produtos-item blue">
      <h2>Toronto Island</h2>
      <img src="/public/img/produtos3.png" alt="Product Three">
    </div>
  </div>
</section>

<section id="preco" class="preco">
<div class="preco-item">
  <!--SILVER-->
  <h2>Silver</h2>
  <span><sup>$</sup>19</span>
  <ul>
    <li>Option One</li>
    <li>Option Two</li>
    <li>Option Three</li>
  </ul>
  <a href="#">Buy Now</a>
</div>

<!--GOLD-->
<div class="preco-item">
  <h2>Gold</h2>
  <span><sup>$</sup>19</span>
  <ul>
    <li>Option One</li>
    <li>Option Two</li>
    <li>Option Three</li>
    <li>Option Four</li>
    <li>Option Five</li>
  </ul>
  <a href="#">Buy Now</a>
</div>

<!--PLATINUM-->
<div class="preco-item">
  <h2>Platinum</h2>
  <span><sup>$</sup>19</span>
  <ul>
    <li>Option One</li>
    <li>Option Two</li>
    <li>Option Three</li>
    <li>Option Four</li>
    <li>Option Five</li>
    <li>Option Six</li>
    <li>Option Seven</li>
  </ul>
  <a href="#">Buy Now</a>
</div>
</section>

<section class="qualidade" id="qualidade">
<div class="qualidade-item">
  <h2>Inteligente</h2>
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
</div>

<div class="qualidade-item">
  <h2>Compacto</h2>
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
</div>

<div class="qualidade-item">
  <h2>Econômico</h2>
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
</div>

<div class="qualidade-item">
  <h2>Transparente</h2>
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
</div>

<div class="qualidade-item">
  <h2>Opaco</h2>
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
</div>

<div class="qualidade-item">
  <h2>Sustentável</h2>
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
</div>
</section>

<section class="newsletter">
  <div class="newsletter-info">
    <h1>Newsletter</h1>
    <p>Fique por dentro de tudo que acontece</p>
  </div>

  <form class="newsletter-form" action="">
    <input type="text" placeholder="Your best email" id="">
    <button type="submit">Submit</button>
  </form>
</section>

<footer class="footer">
  <p>Toronto Blog | All rights reserved</p>
</footer>

</body>

</html>