<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toronto Blog</title>
  <link rel="stylesheet" href="/public/index.css">
</head>

<body>
  <div class="superinfo-bg">
    <div class="superinfo">
      <p>Monday to Friday | 9am to 10pm</p>
      <a href="tel:+1 647 612-4037">+1 647 612-4037</a>
      <p>Bay at Bloor St, Toronto, ON</p>
    </div>
  </div>

  <header class="menu-bg">
    <div class="menu">
      <div class="menu-logo">
        <a href="#">Toronto Blog</a>
      </div>
      <nav class="menu-nav">
        <ul>
          <li><a href="#sobre">About</a></li>
          <li><a href="#preco">Pricing</a></li>
          <li><a href="#qualidade">Places to Visit</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <h1 class="intro">Visit Toronto</h1>

<section id="sobre" class="sobre">
<div class="sobre-info">
  <h1>About the city</h1>
  <p> Toronto is Canada's largest city and a world leader in such areas as business, finance, technology, entertainment and culture. Its large population of immigrants from all over the globe has also made Toronto one of the most multicultural cities in the world.
   <br> Travelling through Toronto will be your once-in-a-lifetime experience. The people of Toronto are certainly one of the most welcoming in the world. Besides, over 40% of them are also not native Canadians. It is the one city you will feel at home away from home.
  </p>
</div>
<div class="sobre-img">
  <img src="/public/img/sobre1.png" alt="About">
</div>
<div class="sobre-img">
  <img src="/public/img/sobre2.png" alt="About two">
</div>
</section>

<section class="produtos" id="produtos">
  <h1>Where to go</h1>
  <div class="produtos-container">
    <div class="produtos-item purple">
      <h2>Downtown Toronto</h2>
      <img src="/public/img/produtos1.png" alt="Product One">
    </div>
    <div class="produtos-item pink">
      <h2>High Park</h2>
      <img src="/public/img/produtos2.png" alt="Product Two">
    </div>
    <div class="produtos-item blue">
      <h2>Toronto Island</h2>
      <img src="/public/img/produtos3.png" alt="Product Three">
    </div>
  </div>
</section>

<section id="preco" class="preco">
<div class="preco-item">
  <!--SILVER-->
  <h2>Silver</h2>
  <span><sup>$</sup>59</span>
  <ul>
    <li> Visit Downtown Toronto</li>
    <li> Visit CN Tower</li>
    <li> Photo Shoot at City Hall</li>
  </ul>
  <a href="#">Buy Now</a>
</div>

<!--GOLD-->
<div class="preco-item">
  <h2>Gold</h2>
  <span><sup>$</sup>99</span>
  <ul>
    <li> Visit Downtown Toronto</li>
    <li> Visit High Park</li>
    <li> Warehouse Bar discount</li>
    <li> Visit CN Tower</li>
    <li> Photo Shoot at City Hall</li>
  </ul>
  <a href="#">Buy Now</a>
</div>

<!--PLATINUM-->
<div class="preco-item">
  <h2>Platinum</h2>
  <span><sup>$</sup>199</span>
  <ul>
    <li> Visit Downtown Toronto</li>
    <li> Visit Toronto Islands</li>
    <li> Visit Cherry Blossom Park</li>
    <li> 1 Day Trip to Niagra Falls</li>
    <li> Dinner at Red Lobster</li>
    <li> Visit CN Tower</li>
    <li> Blue Jays Game Ticket</li>
  </ul>
  <a href="#">Buy Now</a>
</div>
</section>

<section class="qualidade" id="qualidade">
<div class="qualidade-item">
  <h2>CN Tower</h2>
  <p> Toronto's famous landmark, the 553-meter CN Tower, is one of the city's must see attractions and also the most impossible to miss. Towering above the downtown, this Canadian icon can be seen from almost everywhere in the city. You have the option of simply appreciating the building from the ground, or taking a trip up to one of the observation areas or restaurants for fabulous views over the city and Lake Ontario. The CN Tower, built between 1972 and 1976, was once the tallest freestanding structure in the world, but has long since been surpassed.
  </p>
  <p><strong>Address:</strong> 301 Front Street West, Toronto, Ontario</p>
</div>

<div class="qualidade-item">
  <h2>Ripley's Aquarium</h2>
  <p>One of Toronto's newest top attractions is the Ripley's Aquarium near the base of the CN Tower. This fabulous facility displays all kinds of marine life and is one of the most popular things to do in Toronto for families.

    The most impressive feature is the huge underwater tunnel with a moving sidewalk. You can watch the ocean world go by all around you as sharks glide past and sawfish linger on the tunnel roof above. This is a truly serene experience for all ages.</p>
    <p><strong>Address:</strong> 288 Bremner Boulevard, Toronto</p>
  </div>

<div class="qualidade-item">
  <h2>Royal Ontario Museum</h2>
  <p> The Royal Ontario Museum, known as the ROM, is one of Canada's premier museums, with an international reputation for excellence. It houses an outstanding collection, which covers natural history, art, and culture from a great variety of periods from all over the world. It is also well-known for featuring exhibitions from across the globe.
  </p>
  <p><strong>Address:</strong> 100 Queen's Park, Toronto</p>
</div>

<div class="qualidade-item">
  <h2>Rogers Center</h2>
  <p> Immediately adjacent to the CN Tower is Rogers Centre, a massive domed sports arena and home to the Toronto Blue Jays (MLB). The unique design includes a retractable roof, which slides back, allowing it to be opened in favorable weather. This mega-structure was completed in 1989 and can accommodate tens of thousands of spectators and is also used as a venue for other major events, including concerts. The center also offers one-hour guided tours with a behind-the-scenes look at the facility.
  </p>
  <p><strong>Address:</strong> 1 Blue Jays Way, Toronto </p>
</div>

<div class="qualidade-item">
  <h2>Nathan Philips Square</h2>
  <p>Dominating the spacious Nathan Philips Square with its bronze sculpture, The Archer, by Henry Moore, is the still highly acclaimed new City Hall. It was designed by the gifted Finnish architect Viljo Revell and built in 1965. City Hall consists of two arc-shaped high-rise blocks, 20 and 27 stories high respectively, wrapped around a lower central building topped by a flattened cupola.
  </p>
  <p><strong>Address:</strong> 100 Queen Street West, Toronto </p>

</div>

<div class="qualidade-item">
  <h2>Entertainment District</h2>
  <p> Toronto's answer to New York's Broadway, the Entertainment District comes to life in the evenings. This is the place to come to see major theater productions with the latest shows and musicals, concerts, and other performing arts. You'll also find a full range of dining options and places for socializing, as well as hotels. The main center of activity in the Entertainment District is along King Street.
  </p>
  <p><strong>Address:</strong> King Street, Toronto </p>

</div>
</section>

<section class="newsletter">
  <div class="newsletter-info">
    <h1>Newsletter</h1>
    <p>Everything you want to know about Toronto</p>
  </div>

  <form class="newsletter-form" action="">
    <input type="text" placeholder="Your best email" id="">
    <button type="submit">Submit</button>
  </form>
</section>

<footer class="footer">
  <p>Toronto Blog © | All rights reserved</p>
</footer>

</body>

</html>